<configuration>
  <system.webServer>
    <rewrite>
      <rules>
	  <rule name="Reverse Proxy" stopProcessing="true">
          <match url="(.*)" />
	  <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="http://localhost:3000/{R:0}" />
        </rule>
      </rules>
    </rewrite>
    <proxy enabled="true" />
  </system.webServer>
</configuration>